*{
    -fx-lightBlue-base-color: #BBF6F9; /*#16D4A5*/
    -fx-rose-base-color:#FFA5DB;
}

.StoreBackground {
    -fx-background-image: url("../resources/ProgramImages/StoreBackground.jpg");
}

.StadiumStandBackground {
    -fx-background-image: url("../resources/ProgramImages/StadiumStandBackground.jpg");
}

.BusStopBackground {
    -fx-background-image: url("../resources/ProgramImages/BusStopBackground.jpg");
}

.LobbyBackground {
    -fx-background-image: url("../resources/ProgramImages/LobbyBackground.jpg");
}

.GameBackground {
    -fx-background-image: url("../resources/ProgramImages/GameBackground.jpg");
}

.FrontTicket {
    -fx-image: url("../resources/ProgramImages/FrontTicket.png");
}

.BackTicket {
    -fx-image: url("../resources/ProgramImages/BackTicket.png");
}

.CameraIcon {
    -fx-image: url("../resources/ProgramImages/CameraIcon.png");
}

.SelectIcon {
    -fx-image: url("../resources/ProgramImages/SelectIcon.png");
}

.LobbyIcon {
    -fx-image: url("../resources/ProgramImages/LobbyIcon.png");
}

.ModifyIcon {
    -fx-image: url("../resources/ProgramImages/ModifyIcon.png");
}

.ExitIcon {
    -fx-image: url("../resources/ProgramImages/ExitIcon.png");
}

.SearchIcon {
    -fx-image: url("../resources/ProgramImages/SearchIcon.png");
}

.MaintenanceIcon {
    -fx-image: url("../resources/ProgramImages/MaintenanceIcon.png");
}

.SaveIcon {
    -fx-image: url("../resources/ProgramImages/SaveIcon.png");
}

.StarIcon {
    -fx-image: url("../resources/ProgramImages/StarIcon.png");
}

.PrintIcon {
    -fx-image: url("../resources/ProgramImages/PrintIcon.png");
}

.TrophyIcon {
    -fx-image: url("../resources/ProgramImages/TrophyIcon.png");
}

.TrophyKeysIcon{
    -fx-image: url("../resources/ProgramImages/TrophyKeysIcon.png");
}

.VSIcon {
    -fx-image: url("../resources/ProgramImages/VSIcon.png");
}

.ClockIcon {
    -fx-image: url("../resources/ProgramImages/ClockIcon.png");
}

.LookIcon {
    -fx-image: url("../resources/ProgramImages/LookIcon.png");
}

.GameIcon {
    -fx-image: url("../resources/ProgramImages/GameIcon.png");
}

.PixelStadium {
    -fx-image: url("../resources/ProgramImages/PixelStadium.png");
}

.StoreBackground,
.BusStopBackground,
.LobbyBackground,
.GameBackground{
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

.SaveIcon,
.ExitIcon,
.MaintenanceIcon,
.SearchIcon,
.LobbyIcon,
.SelectIcon {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 1); /* Opcional */
}

.SaveIcon:hover,
.MaintenanceIcon:hover,
.ExitIcon:hover,
.SearchIcon:hover,
.LobbyIcon:hover,
.SelectIcon:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
}

.ImageView {
    -fx-opacity: 1;
}

.mfx-text-field {
    -mfx-main: #9999ff;
    -fx-prompt-text-fill: #333333;
    -mfx-float-mode: BORDER;
    -fx-font-size: 12px;
    -fx-min-height: 20px;
    -fx-pref-height: 20px;
    -fx-max-heigth: 20px;
    -fx-text-fill: black;
    -fx-alignment: CENTER; 
}

.mfx-combo-box {
    
}

.mfx-button:hover{
    -fx-background-color: -fx-rose-base-color;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.mfx-button {
    -fx-background-color: #FF72C7;
    -mfx-button-type: RAISED;
}

.mfx-button:hover {
    -fx-background-color: -fx-rose-base-color;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#btnAccept{
    -fx-background-color: #1AFF1A;
}

#btnAccept:hover{
    -fx-background-color: #4DFF4D;
}

#btnCancel{
    -fx-background-color: #BFBDB7;
}

#btnCancel:hover{
    -fx-background-color: #D7D6D2;
}

.title-bar {
    -fx-background-color: #F8F3FF;
    -fx-background-radius: 20;
    -fx-padding: 10.20;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI", "Century Gothic";
    -fx-text-fill: #5D3F6A;
    -fx-effect: dropshadow(gaussian, rgba(93, 63, 106, 0.3), 8, 0.2, 0, 2);
}

.LargeLabel {
    -fx-font-size: 24px;
    -fx-text-fill: #444444;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 1);
}

.LargeLabel:hover {
    -fx-text-fill: #FF72C7;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 7, 0, 0, 2);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.SmallLabel {
    -fx-font-size: 16px;
    -fx-text-fill: #6C6FAE;
    -fx-font-weight: normal;
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 1);
}

.SmallLabel:hover {
    -fx-text-fill: #444444;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.boxRose{
    -fx-background-color: -fx-rose-base-color;
    -fx-opacity:0.85;
    -fx-background-radius: 15px;
    -fx-transition: 0.3s;
}

.boxRose:hover{
    -fx-background-color: -fx-rose-base-color;
    -fx-opacity:1;
}

.boxLightBlue{
    -fx-background-color: -fx-lightBlue-base-color;
    -fx-opacity:0.85;
    -fx-background-radius: 15px;
    -fx-transition: 0.3s;
}

.boxLightBlue:hover{
    -fx-background-color: -fx-lightBlue-base-color;
    -fx-opacity:1;
}

.InteractiveVBox {
    -fx-opacity: 1;
    -fx-transition: 0.3s ease-in-out;
}

.InteractiveVBox:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 2);
}

.hbox-cute {
   -fx-background-color: #F3ECFB;
    -fx-background-radius: 16;
    -fx-border-color: #D9CBEF;
    -fx-border-width: 1;
    -fx-border-radius: 16;
    -fx-effect: dropshadow(gaussian, rgba(89, 67, 104, 0.15), 6, 0.2, 0, 2);
}

.TableViewRose{
    -fx-background-color:-fx-rose-base-color;

}

.TableViewRose:selected {
    -fx-background-color: #FF72C7;
}

.TableViewRose,
.TableViewLightdBlue {
    -fx-background-radius: 10px;
    -fx-opacity:0.80;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
}

.TableViewLightdBlue{
    -fx-background-color: -fx-lightBlue-base-color;
}

.TableViewLightdBlue:selected {
    -fx-background-color: #5DEAF1;
}

.PurpleBackground{
    -fx-background-color:
        radial-gradient(center 76.42% 75.00%, radius 100%, rgba(96, 71, 145, 1) 0%, rgba(96, 71, 145, 0) 100%),
        radial-gradient(center 6.68% 69.12%, radius 100%, rgba(163, 114, 219, 1) 0%, rgba(163, 114, 219, 0) 100%),
        radial-gradient(center 92.24% 63.15%, radius 100%, rgba(218, 162, 252, 1) 0%, rgba(218, 162, 252, 0) 100%),
        radial-gradient(center 92.76% 3.50%, radius 100%, rgba(96, 71, 145, 1) 0%, rgba(96, 71, 145, 0) 100%),
        radial-gradient(center 66.73% 69.96%, radius 100%, rgba(163, 114, 219, 1) 0%, rgba(163, 114, 219, 0) 100%),
        radial-gradient(center 39.16% 71.63%, radius 100%, rgba(218, 162, 252, 1) 0%, rgba(218, 162, 252, 0) 100%);
}

#tourneyHitbox {
    -fx-fill: url("resources/stadium.png");
}

.scroll-pane {
    -fx-background: -fx-lightBlue-base-color; 
    -fx-background-color: transparent;
    -fx-border-color: #D9CBEF; 
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-opacity: 0.85;
    -fx-effect: dropshadow(gaussian, rgba(89, 67, 104, 0.15), 6, 0.2, 0, 2); 
}

.scroll-pane:hover {
    -fx-opacity: 1;
    -fx-effect: dropshadow(gaussian, rgba(89, 67, 104, 0.3), 8, 0.2, 0, 3); 
}

.Accordion {
    -fx-background-color:
        radial-gradient(center 76.42% 75.00%, radius 100%, rgba(96, 71, 145, 0.5) 0%, rgba(96, 71, 145, 0) 100%),
        radial-gradient(center 6.68% 69.12%, radius 100%, rgba(163, 114, 219, 0.5) 0%, rgba(163, 114, 219, 0) 100%),
        linear-gradient(to bottom, -fx-lightBlue-base-color, #F8F3FF);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-color: #D9CBEF;
    -fx-border-width: 1px;
    -fx-opacity: 0.85;
    -fx-effect: dropshadow(gaussian, rgba(89, 67, 104, 0.15), 6, 0.2, 0, 2);
}