
*{
    -fx-lightBlue-base-color: #BBF6F9; /*#16D4A5*/
    -fx-rose-base-color:#FFA5DB;
}

.ColorGreenBackground {
    -fx-background-color:
        radial-gradient(center 76.42% 75.00%, radius 100%, rgba(96, 71, 145, 1) 0%, rgba(96, 71, 145, 0) 100%),
        radial-gradient(center 6.68% 69.12%, radius 100%, rgba(163, 114, 219, 1) 0%, rgba(163, 114, 219, 0) 100%),
        radial-gradient(center 92.24% 63.15%, radius 100%, rgba(218, 162, 252, 1) 0%, rgba(218, 162, 252, 0) 100%),
        radial-gradient(center 92.76% 3.50%, radius 100%, rgba(96, 71, 145, 1) 0%, rgba(96, 71, 145, 0) 100%),
        radial-gradient(center 66.73% 69.96%, radius 100%, rgba(163, 114, 219, 1) 0%, rgba(163, 114, 219, 0) 100%),
        radial-gradient(center 39.16% 71.63%, radius 100%, rgba(218, 162, 252, 1) 0%, rgba(218, 162, 252, 0) 100%);
}

.title-bar {
    -fx-background-color: #F8F3FF;
    -fx-background-radius: 20;
    -fx-padding: 10.20;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI", "Century Gothic";
    -fx-text-fill: #5D3F6A;
    -fx-effect: dropshadow(gaussian, rgba(93, 63, 106, 0.3), 8, 0.2, 0, 2);
}

.hbox-cute {
   -fx-background-color: #F3ECFB;
    -fx-background-radius: 16;
    -fx-border-color: #D9CBEF;
    -fx-border-width: 1;
    -fx-border-radius: 16;
    -fx-effect: dropshadow(gaussian, rgba(89, 67, 104, 0.15), 6, 0.2, 0, 2);
}

.StoreBackground {
    -fx-background-image: url("../resources/StoreBackground.jpg");
}

.StadiumStandBackground {
    -fx-background-image: url("../resources/StadiumStandBackground.jpg");
}

.BusStopBackground {
    -fx-background-image: url("../resources/BusStopBackground.jpg");
}

.LobbyBackground {
    -fx-background-image: url("../resources/LobbyBackground.jpg");
}

.GameBackground {
    -fx-background-image: url("../resources/GameBackground.jpg");
}

.StoreBackground,
.BusStopBackground,
.LobbyBackground,
.GameBackground{
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

.CameraIcon {
    -fx-image: url("../resources/CameraIcon.png");
}

.SelectIcon {
    -fx-image: url("../resources/SelectIcon.png");
}

#LobbyIcon {
    -fx-image: url("../resources/LobbyIcon.png");
}

.ModifyIcon {
    -fx-image: url("../resources/ModifyIcon.png");
}

.ExitIcon {
    -fx-image: url("../resources/ExitIcon.png");
}

.SearchIcon {
    -fx-image: url("../resources/SearchIcon.png");
}

.MaintenanceIcon {
    -fx-image: url("../resources/MaintenanceIcon.png");
}

.SaveIcon {
    -fx-image: url("../resources/SaveIcon.png");
}

.ImageView{
    -fx-opacity:1;
}

.SaveIcon,
.ExitIcon,
.MaintenanceIcon,
.SearchIcon,
.LobbyIcon,
.SelectIcon {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 1); /* Opcional */
}

.SaveIcon:hover,
.MaintenanceIcon:hover,
.ExitIcon:hover,
.SearchIcon:hover,
.LobbyIcon:hover,
.SelectIcon:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
}

.mfx-button {
    -fx-background-color: #FF72C7;
    -mfx-button-type:RAISED;
}

.mfx-button:hover{
    -fx-background-color: -fx-rose-base-color;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

/*.mfx-button:active{
     -fx-background-color: #5DEAF1;
}*/

#btnAccept{
    -fx-background-color: #1AFF1A;
}

#btnAccept:hover{
    -fx-background-color: #4DFF4D;
}

#btnCancel{
    -fx-background-color: #BFBDB7;
}

#btnCancel:hover{
    -fx-background-color: #D7D6D2;
}

.boxRose{
    -fx-background-color: -fx-rose-base-color;
    -fx-opacity:0.85;
    -fx-background-radius: 15px;
    -fx-transition: 0.3s;
}

.boxRose:hover{
    -fx-background-color: -fx-rose-base-color;
    -fx-opacity:1;
}

.boxLightBlue{
    -fx-background-color: -fx-lightBlue-base-color;
    -fx-opacity:0.85;
    -fx-background-radius: 15px;
    -fx-transition: 0.3s;
}

.boxLightBlue:hover{
    -fx-background-color: -fx-lightBlue-base-color;
    -fx-opacity:1;
}

.TableViewLightdBlue{
    -fx-background-color: -fx-lightBlue-base-color;
}

TableViewLightdBlue:selected {
    -fx-background-color: #5DEAF1;
}

.TableViewRose{
    -fx-background-color:-fx-rose-base-color;

}

TableViewRose:selected {
    -fx-background-color: #FF72C7;
}

.TableViewLightdBlue,
.TableViewRose {
    -fx-background-radius: 10px;
    -fx-opacity:0.80;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
}

* {
    -fx-lightBlue-base-color: #BBF6F9;
    -fx-rose-base-color: #FFA5DB;
}

.InteractiveVBox {
    -fx-opacity: 1;
    -fx-transition: 0.3s ease-in-out;
}

.InteractiveVBox:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 2);
}

.ImageView {
    -fx-opacity: 1;
}

.StarIcon {
    -fx-opacity: 1;
    -fx-transition: 0.5s ease-in-out;
}

.StarIcon:hover {
    -fx-rotate: 360;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 12, 0, 0, 3);
}

.LargeLabel {
    -fx-font-size: 24px;
    -fx-text-fill: #444444;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 1);
}

.LargeLabel:hover {
    -fx-text-fill: #FF72C7;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 7, 0, 0, 2);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.SmallLabel {
    -fx-font-size: 16px;
    -fx-text-fill: #6C6FAE;
    -fx-font-weight: normal;
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 1);
}

.SmallLabel:hover {
    -fx-text-fill: #444444;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.mfx-button {
    -fx-background-color: #FF72C7;
    -mfx-button-type: RAISED;
}

.mfx-button:hover {
    -fx-background-color: -fx-rose-base-color;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
